---
import Base from '../layouts/Base.astro';
import Search from 'astro-pagefind/components/Search';
---

<Base title="Search">
  <h1>Search</h1>
  <div class="search-container">
    <Search />
  </div>
</Base>
